<app-to-do-create (performCreateToDo)="performCreateToDo($event)"></app-to-do-create>
<div class="filter_button_container">
  <button (click)="changeFilter()">
    {{ onlyCompleted ? "Show Incompleted" : "Show Completed" }}
  </button>
</div>
<ng-container *ngIf="onlyCompleted">
  <app-to-do
    *ngFor="let toDo of completedToDos | async"
    [toDo]="toDo"
    (updateIsDone)="performUpdateToDo($event)"
    (deleteToDo)="performDeleteToDo($event)"
  ></app-to-do>
</ng-container>
<ng-container *ngIf="!onlyCompleted">
  <app-to-do
    *ngFor="let toDo of inCompletedToDos | async"
    [toDo]="toDo"
    (updateIsDone)="performUpdateToDo($event)"
    (deleteToDo)="performDeleteToDo($event)"
  ></app-to-do>
</ng-container>
