<app-to-do-create (performCreateToDo)="performCreateToDo($event)"></app-to-do-create>
<button (click)="changeFilter()" class="filter_button">
  {{ onlyCompleted ? "Show Incompleted" : "Show Completed" }}
</button>
<ng-container *ngIf="onlyCompleted">
  <app-to-do
    *ngFor="let toDo of completedToDos | async"
    [toDo]="toDo"
    (updateIsDone)="performUpdateToDo($event)"
    (deleteToDo)="performDeleteToDo($event)"
  ></app-to-do>
</ng-container>
<ng-container *ngIf="!onlyCompleted">
  <app-to-do
    *ngFor="let toDo of inCompletedToDos | async"
    [toDo]="toDo"
    (updateIsDone)="performUpdateToDo($event)"
    (deleteToDo)="performDeleteToDo($event)"
  ></app-to-do>
</ng-container>
