<ng-container *ngIf="note">
  <div *ngIf="!editMode" class="note">
    <span>{{ note.text }}</span>
    <button (click)="editMode = true; editedText = note.text">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button (click)="performDeleteNote()">
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </div>

  <div *ngIf="editMode" class="editMode">
    <input type="text" [(ngModel)]="editedText" />
    <button (click)="performUpdateNote()">
      <i class="fa-solid fa-floppy-disk"></i>
    </button>
    <button (click)="cancelEdit()">
      <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
  </div>
</ng-container>
