:host {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #818181;
  border-radius: 4px;
  padding: 0.3em;
  margin: 0.3rem;
}

.toDo {
  width: 100%;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}

.toDo span {
  flex: 1;
}

.toDo input {
  margin: 0.5rem;
}

.toDo input:hover,
.toDo button {
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-checkbox input {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black  ;
}

.custom-checkbox input:checked + .checkmark .fa-check {
  display: block;
}

.custom-checkbox input:checked + .checkmark .fa-times {
  display: none;
}

.custom-checkbox input:not(:checked) + .checkmark .fa-check {
  display: none;
}

.custom-checkbox input:not(:checked) + .checkmark .fa-times {
  display: block;
}
