<ng-container *ngIf="reminder">
  <div *ngIf="!editMode">
    <span>{{reminder.text}} </span>
    <span>{{formatYearMonthDayHourMinute(reminder.reminderTime)}}</span>
    <button (click)="performDelete()">Delete</button>
    <button (click)="enterEdit()">Edit</button>
  </div>

  <div *ngIf="editMode">
    <form [formGroup]="reminderForm" (ngSubmit)="performUpdate()">
      <input type="text" name="text" formControlName="text" [value]="reminder.text"/>
      <input type="time" name="time" formControlName="time" required/>
      <input type="date" name="date" formControlName="date" [min]="minDate" />
      <button type="submit" [disabled]="!reminderForm.valid" (click)="performUpdate()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</ng-container>
