<ng-container *ngIf="reminder">
  <div *ngIf="!editMode" class="reminder">
    <span>{{reminder.text}} </span>
    <span>{{formatYearMonthDayHourMinute(reminder.reminderTime)}}</span>
    <button (click)="performDelete()">
      <i class="fa-solid fa-trash-can"></i>
    </button>
    <button (click)="enterEdit()">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>

  <div *ngIf="editMode" class="editMode">
    <form [formGroup]="reminderForm" (ngSubmit)="performUpdate()">
      <div>
        <input type="text" name="text" formControlName="text" [value]="reminder.text"/>
        <button (click)="cancelEdit()">
          <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
        <button type="submit" [disabled]="!reminderForm.valid" (click)="performUpdate()">
          <i class="fa-solid fa-floppy-disk"></i>
        </button>
      </div>
      <div>
        <input type="time" name="time" formControlName="time" required/>
        <input type="date" name="date" formControlName="date" [min]="minDate" />
      </div>
    </form>
  </div>
</ng-container>
